html {
    box-sizing: border-box;
}

body {
    background-color: #FEEED6;
    font-family: Arial, sans-serif;
    color: #676565;
    max-width: 725px;
}

.header {
    font-weight: normal;
    font-size: 29px;
    padding: 5px;
    margin: 0;
}

.main-p {
    padding: 5px;
    margin: 0;
    font-size: 17px;
}

.inner-p {
    text-indent: 15px;
    font-size: 95%;
    line-height: 1.4
}

.blue-text {
    color: #4590B2;
    font-weight: bold;
}

.line-through-text {
    text-decoration: line-through;
}