html {
    box-sizing: border-box;
}

body {
    font-family: Tahoma, sans-serif;
    color: #676565;
    font-size: 19px;
    overflow: hidden;
}

.employee-table {
    margin: 10px;
    border: 1px solid #CCCCCC;
    border-collapse: collapse;
    width: 100%;
    max-width: 760px;
}

.employee-table thead {
    background: #3498DB;
    color: #FFFFFF;
}

.employee-table th, .employee-table td {
    border: 1px solid #CCCCCC;
    text-align: left;
    padding: 12px;
    font-weight: normal;
}

.employee-table tbody tr:nth-child(odd) {
    background: #EDEDED;
}