html {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #6C6866;
}

.main-container {
    margin: 15px;
}

.header {
    padding-left: 15px;
    font-size: 32px;
    margin-bottom: 2px;
}

.request-sending-form {
    max-width: 735px;
    padding: 0 18px 14px 18px;
    background-color: #FEEED6;
    box-sizing: border-box;
}

.form-field {
    padding: 17px 0 0 0;
}

.form-field-label {
    font-weight: bold;
    font-size: 15px;
}

.text-filed {
    box-sizing: border-box;
    width: 100%;
    border: none;
    margin: 5px 0 0 0;
    padding: 8px 8px 8px 12px;
}

.one-line-input {
    height: 34px;
}

.text-filed[placeholder] {
    color: #6C6866;
}

input[type="text"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #9FA5AE;
}

.form-instruction {
    font-size: 15px;
    margin: 0;
}

.button-field {
    margin-top: 10px;
}

.form-submit-button {
    background-color: #378DB2;
    color: white;
    border: none;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-left: auto;
}

.form-submit-button:hover {
    background-color: #1E90FF;
    cursor: pointer;
}

.comment-text-field {
    resize: vertical;
}